/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-12-27, 13:13:53
    Author     : shaoning
*/
$layout-sider-color:#adadad;
$layout-sider-active-color:#fff;
$layout-sider-bg-color:#404040;
$layout-sider-border-color:#adadad;
$layout-sider-action-bg-color:#656565;
$layout-sider-action-height:42px;
$layout-main-bg-color:#fff;
$layout-main-border-color:#e9e9e9;
$layout-main-header-height:42px;
$layout-main-footer-height:42px;
$layout-sider-width:224px;
$layout-collapse-sider-width:80px;
$layout-logo-bg-color:#404040;
$layout-logo-height:42px;
.layout-full{
    height:100%;
    overflow: hidden;
}
.layout-full-auto{
    height:100%;
    overflow-x: auto;
    overflow-y: auto;
}
.layout-flex-column{
    display:flex;
    flex: 1;
    -webkit-flex-flow:column wrap-reverse;
    flex-flow:column wrap-reverse;
    .layout-flex-0{
        -webkit-box-flex: 0;
        -ms-flex: 0;
        flex: 0;
    }
    .layout-flex-auto{
        -webkit-box-flex: 1;
        -ms-flex: auto;
        flex: auto;
    }
}

.layout-aside {
    position: relative;
    .layout-aside-action {
        height: $layout-sider-action-height;
        width: $layout-sider-width;
        background:$layout-sider-action-bg-color;
        color: $layout-sider-color;
        text-align: center;
        line-height: $layout-sider-action-height;
        cursor: pointer;
        transition: all .3s;
        position: fixed;
        left: 0;
        bottom: 0;
        z-index: 9999;
    }
    .layout-sider {
        width:$layout-sider-width;
        background: $layout-sider-bg-color;
        transition: all .3s;
        position:fixed;
        left:0;
        top:0;
        .layout-menu{
            margin-bottom: $layout-sider-action-height;
            &.ant-menu-dark{
                color:$layout-sider-color;
                .ant-menu-sub{
                    color:$layout-sider-color;
                }
                .ant-menu-item{
                    color:$layout-sider-color;
                    >a{
                        color:$layout-sider-color;
                    }
                }
                .ant-menu-item-selected{
                    color: $layout-sider-active-color;
                    >a{
                        color: $layout-sider-active-color;
                    }
                }
            }
        }
    }
    .layout-logo {
        height:$layout-logo-height;
        background: $layout-logo-bg-color;
        border-radius: 4px;
        transition: all .3s;
        .logo-img {
            max-width: 100%;
            height: 100%;
        }
    }

    .layout-header {
        height:$layout-main-header-height;
        line-height: $layout-main-header-height;
        padding: 0 25px;
        border-bottom: 1px solid $layout-main-border-color;
        background: $layout-main-bg-color;
    }
   
    .layout-main {
        margin-left: $layout-sider-width;
        transition: all .3s;
    }

    .layout-content {
        min-height: 360px;
        background: $layout-main-bg-color;
        padding:0 25px;
    }
    .layout-container {
        padding:10px 0;
    }
    .layout-footer {
        text-align: center;
    }
}
.layout-aside-collapse{
    .layout-sider {
        width: $layout-collapse-sider-width;
        transition: all .3s;
    }
    .layout-aside-action {
        width: $layout-collapse-sider-width;
        transition: all .3s;
    }
    .layout-logo {
        transition: all .3s;
    }

    .layout-main {
        margin-left: $layout-collapse-sider-width;
        transition: all .3s;
    }
    .nav-text {
        display: none;
    }
}
